.coffeeTable
{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.coffeeTable tr th, .coffeeTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.coffeeTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

#ctl00_ContentPlaceHolder1_pnlProducts div 
{
    float: left;
    width: 250px;
    height: 250px;
}

.ProductsName 
{
    margin: 0px 5px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}

.ProductsPrice 
{
    margin: 0px 5px 5px 0px;
    width: 150px;
    color: orange;
}

.ProductsImage 
{
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}


